torified:
  image: "torified"
  container_name: "torified-container"
  hostname: "torified"
  extends:
    file:  docker-compose-common.yml
    service: base
# devices:
# entrypoint:
# volumes:
# links:
# expose:
  ports:
    - "2222:22"
    - "8123:8123"
    - "8118:8118"
    - "9001:9001"
    - "9030:9030"
# environment:
# env_file:
# depends_on:

