version: '3.3'

services:
  torified:
    build:
      context: .
    restart: unless-stopped
#    dns:
#      - 8.8.8.8
    stdin_open: true
    tty: true
    restart: always
#    privileged: true
    image: "torified"
    hostname: "torified"
    ports:
      - "127.0.0.1:2222:22"
      - "8118:8118"
      - "8119:8119"
      - "9001:9001"
      - "9030:9030"
      - "9050:9050"
